modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Women Safety Backend"

[[workflows.workflow]]
name = "Women Safety Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install express http socket.io cors morgan csv-parser && node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
